.add-list {
  &__popup {
    width: 240px;
    height: 150px;
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.95);
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;
    top: -25px;
    left: 10px;
    position: relative;

    .button {
      width: 100%;
      margin-top: 15px;
    }

    &-close-btn{
        position: absolute;
        right: -8px;
        top: -8px;
        cursor: pointer;
    }

    &-colors {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      cursor: pointer;

      .badge {
        width: 16px;
        height: 16px;
        border: 2px solid transparent;

        &.active {
          border: 2px solid #525252;
        }
      }
      
    }
  }
}
